{% extends '../layout.html' %}
{% load i18n static widget_tweaks%}

{% block content %}

    <section >
        <div class="container margintop">
            
            <div class="login-form">
                <form autocomplete="off" role="form" class="theme-form" method="post" action="">
                {% csrf_token %}
                    {% if messages %}
                        {% for message in messages %}

                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <p>Password will be at least 8 character, one number and one special character !</p>
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% for field in form %}
                        <div class="form-group">
                            {% if field.name == 'email' %}
                                <label for="inputEmail">{% trans 'Email' %}</label>
                            {% elif field.name == 'password1' %}
                                <label for="inputPassword">{% trans 'Password' %}</label>
                            {% elif field.name == 'is_employee' %}
                                <label for="inputPassword">{% trans 'Are You Employee' %}</label>
                            {% elif field.name == 'is_manager' %}
                                <label for="inputPassword">{% trans 'Are You Manager' %}</label>
                            {% elif field.name == 'first_name' %}
                                <label >{% trans 'Firstname' %}</label>
                            {% elif field.name == 'last_name' %}
                                <label >{% trans 'Lastname' %}</label>
                            {% else %}
                                <label >{% trans 'Confirm Password' %}</label>
                            {% endif %}
                            {{field|add_class:"form-control"}}
                        </div>
                    {% endfor %}

                    <div class="form-submit">
                        <button type="submit" class="btn btn-default bg-navy bold">{% trans 'Register'%}</button>
                    </div>
                    <div class="signin">
                        <p> {% trans 'Already have an account?' %}  <a class="link-orange" href="{% url 'core:login' %}">{% trans 'Sign in' %}</a>.</p>
                    </div>
                </form>
            </div>
        </div>
        
    </section>
{% endblock %}