{% load i18n static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{% static 'img/favicon.ico' %}">

        <title>{% trans '(hrms)HRMS' %}</title>

        <meta name="author" content="Vinod Kumar" />
        <meta name="description" content="" />
        <link rel='canonical' href=''/>

        {% block stylesheet %}
            <!-- Google font -->
            <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

            <!-- Bootstrap -->
            <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>

            <link type="text/css" rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>

            <link type="text/css" rel="stylesheet" href="{% static 'css/custom.css' %}"/>
            
            <!-- For DataTable css-->
            <link href="{% static 'css/dataTables.min.css' %}" rel="stylesheet" media="screen">

        {% endblock %}

    </head>

    <body class="top-navigation">
        <div id="wrapper">
            <div id="page-wrapper" class="gray-bg">
                {% block header %}{% endblock %}
                {% block content %}{% endblock %}
                {% block footer %}{% endblock %}
            </div>
        </div>
    </body>
    
    {% block script %}
        <!-- jQuery Plugins -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>

        <!-- For DataTable js-->
        <script src="{% static 'js/dataTables.min.js' %}" ></script>

        <!-- custom js-->

        {% block js%} {% endblock %}
    {% endblock %}
</html>